In [436]:
from nltk import wordpunct_tokenize
from nltk.corpus import stopwords
from math import log
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer

In [437]:
TfidfTransformer

sklearn.feature_extraction.text.TfidfTransformer

In [438]:
datax = pd.read_excel('~/desktop/KULIAH/SKRIPSI ERICA YEY/data_ibukota.xlsx')
data = pd.DataFrame(datax['text'])
data['sentimen'] = datax['sentimen']
#tes10.csv', delimiter=';

In [432]:
datax = pd.read_csv('~/desktop/KULIAH/SKRIPSI ERICA YEY/dataku/stemming.csv')
data = pd.DataFrame(datax['text'])
dat = pd.read_excel('~/desktop/KULIAH/SKRIPSI ERICA YEY/data_ibukota.xlsx')
data['sentimen'] = dat['sentimen']
#tes10.csv', delimiter=';

In [439]:
data

                                                   text  sentimen
0     wah..pemindahan ibu kota bisa batal nih.yg daf...        -1
1     Makin terang benderang pindahna ibu kota krn p...        -1
2     ga perlu ribuan pasukan ngelumpuhin ibukota ba...        -1
3     wah..pemindahan ibu kota bisa batal nih.yg daf...        -1
4     Makin terang benderang pindahna ibu kota krn p...        -1
...                                                 ...       ...
1045              Alhamdulilah.. Ganti ibu kota. Setuju         1
1046  Jangan kawatir ibu kota negara yg baru tidak a...         1
1047  Saya setuju, pindahkan aja biar jakarta sepi, ...         1
1048                   mk itu sy setuju, ibukota pindah         1
1049  Pokoknya ibukota RI harus pindah ke Kalimantan...         1

[1050 rows x 2 columns]

In [440]:
from nltk.tokenize import TweetTokenizer
import numpy as np
def tokenize(text):
    
    TT = TweetTokenizer()
    hasil = TT.tokenize(text)
    filtered = []
    
    for w in hasil:
        filtered.append(w)
        
    return filtered

st = lambda x: tokenize(x)

In [441]:
value = []
texts = []
fgh = []
    
for i in range(len(data)):
    # Tokenize
    tweet = pd.DataFrame(data.text.apply(st))
    bvc = tweet.loc[i]
    # to array
    arr = np.array(bvc)
    bvb = np.vstack(bvc)
    # word in dataframe
    dfx = pd.DataFrame(data=bvb.flatten())
    dfx['text'] = dfx
    dfc = pd.DataFrame(dfx['text'])
    dfc

    # count word in one doc
    v = dfc.text.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)
    vc = pd.DataFrame(v)
    vc.columns = ['value']

    # array for each value
    for b in vc['value']:
        TF = b / len(vc)
        hv = []
        hv.append(TF)
        fgh.append(hv)

    # assign TF value for word 
    value.append(fgh)
    value
    texts.append(bvc)
    texts
    
vcx = pd.DataFrame(texts)
vcx

                                                   text
0     [wah, .., pemindahan, ibu, kota, bisa, batal, ...
1     [Makin, terang, benderang, pindahna, ibu, kota...
2     [ga, perlu, ribuan, pasukan, ngelumpuhin, ibuk...
3     [wah, .., pemindahan, ibu, kota, bisa, batal, ...
4     [Makin, terang, benderang, pindahna, ibu, kota...
...                                                 ...
1045    [Alhamdulilah, .., Ganti, ibu, kota, ., Setuju]
1046  [Jangan, kawatir, ibu, kota, negara, yg, baru,...
1047  [Saya, setuju, ,, pindahkan, aja, biar, jakart...
1048          [mk, itu, sy, setuju, ,, ibukota, pindah]
1049  [Pokoknya, ibukota, RI, harus, pindah, ke, Kal...

[1050 rows x 1 columns]

In [442]:
tf = vcx.text.apply(pd.value_counts).fillna(0)
print(tf)

      ibu  cyyynnnn  pemindahan  nih.yg  kota  ...    ¦  batal  banyak  udah  \
0     1.0       1.0         1.0     1.0   1.0  1.0  1.0    1.0     1.0   1.0
1     1.0       0.0         0.0     0.0   1.0  1.0  1.0    0.0     0.0   0.0
2     0.0       0.0         0.0     0.0   0.0  1.0  0.0    0.0     0.0   0.0
3     1.0       1.0         1.0     1.0   1.0  1.0  1.0    1.0     1.0   1.0
4     1.0       0.0         0.0     0.0   1.0  1.0  1.0    0.0     0.0   0.0
...   ...       ...         ...     ...   ...  ...  ...    ...     ...   ...
1045  1.0       0.0         0.0     0.0   1.0  0.0  0.0    0.0     0.0   0.0
1046  1.0       0.0         0.0     0.0   2.0  0.0  0.0    0.0     0.0   0.0
1047  0.0       0.0         0.0     0.0   0.0  0.0  1.0    0.0     0.0   0.0
1048  0.0       0.0         0.0     0.0   0.0  0.0  0.0    0.0     0.0   0.0
1049  0.0       0.0         0.0     0.0   0.0  0.0  0.0    0.0     0.0   0.0

      ...  Wellington  kawatir  diplomatik  eropa  \
0     ...         0.0      0.0         0.0    0.0
1     ...         0.0      0.0         0.0    0.0
2     ...         0.0      0.0         0.0    0.0
3     ...         0.0      0.0         0.0    0.0
4     ...         0.0      0.0         0.0    0.0
...   ...         ...      ...         ...    ...
1045  ...         0.0      0.0         0.0    0.0
1046  ...         1.0      1.0         1.0    0.0
1047  ...         0.0      0.0         0.0    1.0
1048  ...         0.0      0.0         0.0    0.0
1049  ...         0.0      0.0         0.0    0.0

      https://twitter.com/geloraco/status/1166227926410358785Â  Enjoy   mk  \
0                                                   0.0           0.0  0.0
1                                                   0.0           0.0  0.0
2                                                   0.0           0.0  0.0
3                                                   0.0           0.0  0.0
4                                                   0.0           0.0  0.0
...                                                 ...           ...  ...
1045                                                0.0           0.0  0.0
1046                                                0.0           0.0  0.0
1047                                                1.0           1.0  0.0
1048                                                0.0           0.0  1.0
1049                                                0.0           0.0  0.0

      Pokoknya  Jonggol  Soeharto
0          0.0      0.0       0.0
1          0.0      0.0       0.0
2          0.0      0.0       0.0
3          0.0      0.0       0.0
4          0.0      0.0       0.0
...        ...      ...       ...
1045       0.0      0.0       0.0
1046       0.0      0.0       0.0
1047       0.0      0.0       0.0
1048       0.0      0.0       0.0
1049       1.0      1.0       1.0

[1050 rows x 5891 columns]

In [443]:
idf = np.log((len(vcx) + 1 ) / (tf.gt(0).sum() + 1))
idf

ibu           1.125615
cyyynnnn      5.858885
pemindahan    2.178374
nih.yg        5.858885
kota          0.948684
                ...
Enjoy         6.264350
mk            6.264350
Pokoknya      6.264350
Jonggol       6.264350
Soeharto      6.264350
Length: 5891, dtype: float64

In [444]:
tf * idf

,ibu,cyyynnnn,pemindahan,nih.yg,kota,...,¦,batal,banyak,udah,...,Wellington,kawatir,diplomatik,eropa,https://twitter.com/geloraco/status/1166227926410358785Â,Enjoy,mk,Pokoknya,Jonggol,Soeharto
0,1.125615,5.858885,2.178374,5.858885,0.948684,1.920545,2.129184,5.571203,2.58805,3.025672,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,1.125615,0.000000,0.000000,0.000000,0.948684,1.920545,2.129184,0.000000,0.00000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,0.000000,0.000000,0.000000,0.000000,0.000000,1.920545,0.000000,0.000000,0.00000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,1.125615,5.858885,2.178374,5.858885,0.948684,1.920545,2.129184,5.571203,2.58805,3.025672,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,1.125615,0.000000,0.000000,0.000000,0.948684,1.920545,2.129184,0.000000,0.00000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,1.125615,0.000000,0.000000,0.000000,0.948684,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1046,1.125615,0.000000,0.000000,0.000000,1.897368,0.000000,0.000000,0.000000,0.00000,0.000000,...,6.26435,6.26435,6.26435,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1047,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.129184,0.000000,0.00000,0.000000,...,0.00000,0.00000,0.00000,6.26435,6.26435,6.26435,0.00000,0.00000,0.00000,0.00000
1048,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,6.26435,0.00000,0.00000,0.00000
1049,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,6.26435,6.26435,6.26435

In [445]:
datapos = data.loc[data['sentimen'] == 1]
datapos
dataneg = data.loc[data['sentimen'] == -1]
dataneg
datanet = data.loc[data['sentimen'] == 0]
datanet

                                                  text  sentimen
350  #SmartMorningPost - Komnas HAM akan memanggil ...         0
351  Â© rasa bersalah dalam benak sebab ia bahkan b...         0
352  Saya mengikuti channel YouTube ttg bisnis sese...         0
353  Â© rasa bersalah dalam benak sebab ia bahkan b...         0
354  Saya mengikuti channel YouTube ttg bisnis sese...         0
..                                                 ...       ...
695  Kemarin beliau "meminta izin" kepada rakyat. N...         0
696  jadi ibukota atau tidak , dalam pandandangan s...         0
697  Mungkin kalau Ibukota pindah ke Kalimantan, se...         0
698  Wacana pemindahan Ibu Kota Negara dari Jakarta...         0
699  Sebenernya pemindahan ibu kota ke kalimantan b...         0

[350 rows x 2 columns]

## CF Positif

In [446]:
value = []
texts = []
fgh = []
    
for i in range(len(datapos)):
    # Tokenize
    tweet = pd.DataFrame(data.text.apply(st))
    bvc = tweet.iloc[i]
    # to array
    arr = np.array(bvc)
    bvb = np.vstack(bvc)
    # word in dataframe
    dfx = pd.DataFrame(data=bvb.flatten())
    dfx['text'] = dfx
    dfc = pd.DataFrame(dfx['text'])
    dfc

    # count word in one doc
    v = dfc.text.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)
    vc = pd.DataFrame(v)
    vc.columns = ['value']

    # array for each value
    for b in vc['value']:
        TF = b / len(vc)
        hv = []
        hv.append(TF)
        fgh.append(hv)

    # assign TF value for word 
    value.append(fgh)
    value
    texts.append(bvc)
    texts
    
vcx = pd.DataFrame(texts)
vcx

                                                  text
0    [wah, .., pemindahan, ibu, kota, bisa, batal, ...
1    [Makin, terang, benderang, pindahna, ibu, kota...
2    [ga, perlu, ribuan, pasukan, ngelumpuhin, ibuk...
3    [wah, .., pemindahan, ibu, kota, bisa, batal, ...
4    [Makin, terang, benderang, pindahna, ibu, kota...
..                                                 ...
345  [#BatalkanPindahIbuKota, Rakyat, blm, sejahter...
346  [Kasian, anak, ini, hidup, dalam, kemelaratan,...
347  [Ocehanku, ,, Rencana, pemindahan, Ibukota, Ne...
348  [Yaa, kalo, pindah, ibukota, gapake, hutang, s...
349  [Tidak, semudah, dan, segampang, itu, memindah...

[350 rows x 1 columns]

In [447]:
tf = vcx.text.apply(pd.value_counts).fillna(0)
idf = np.log((len(vcx) + 1 ) / (tf.gt(0).sum() + 1))
tf * idf

,ibu,cyyynnnn,pemindahan,nih.yg,kota,...,¦,batal,banyak,udah,...,gausah,Yaa,ninggalin,maksimalin,ngurangin,toh,Tidak,dipergunakan,Mindakan,persiapan
0,1.056765,4.762174,2.249868,4.762174,0.948131,1.556721,1.989585,4.762174,2.364279,3.295837,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1.056765,0.000000,0.000000,0.000000,0.948131,1.556721,1.989585,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,1.556721,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1.056765,4.762174,2.249868,4.762174,0.948131,1.556721,1.989585,4.762174,2.364279,3.295837,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1.056765,0.000000,0.000000,0.000000,0.948131,1.556721,1.989585,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,0.000000,0.000000,0.000000,0.000000,0.000000,6.226885,0.000000,0.000000,2.364279,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
346,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.989585,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
347,0.000000,0.000000,2.249868,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
348,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.167639,5.167639,5.167639,5.167639,5.167639,5.167639,0.000000,0.000000,0.000000,0.000000
349,2.113530,0.000000,0.000000,0.000000,1.896263,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.167639,5.167639,5.167639,5.167639

In [448]:
cfpos = ((tf.gt(0).sum() + 1) / len(datapos)) 
cfpos

ibu             0.348571
cyyynnnn        0.008571
pemindahan      0.105714
nih.yg          0.008571
kota            0.388571
                  ...
toh             0.005714
Tidak           0.005714
dipergunakan    0.005714
Mindakan        0.005714
persiapan       0.005714
Length: 2841, dtype: float64

In [449]:
tf * idf * cfpos

,ibu,cyyynnnn,pemindahan,nih.yg,kota,...,¦,batal,banyak,udah,...,gausah,Yaa,ninggalin,maksimalin,ngurangin,toh,Tidak,dipergunakan,Mindakan,persiapan
0,0.368358,0.040819,0.237843,0.040819,0.368417,0.329135,0.272857,0.040819,0.222918,0.122417,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.368358,0.000000,0.000000,0.000000,0.368417,0.329135,0.272857,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.329135,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.368358,0.040819,0.237843,0.040819,0.368417,0.329135,0.272857,0.040819,0.222918,0.122417,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.368358,0.000000,0.000000,0.000000,0.368417,0.329135,0.272857,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,0.000000,0.000000,0.000000,0.000000,0.000000,1.316541,0.000000,0.000000,0.222918,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
346,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.272857,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
347,0.000000,0.000000,0.237843,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
348,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.029529,0.029529,0.029529,0.029529,0.029529,0.029529,0.000000,0.000000,0.000000,0.000000
349,0.736716,0.000000,0.000000,0.000000,0.736833,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029529,0.029529,0.029529,0.029529

## CF Negatif

In [450]:
value = []
texts = []
fgh = []
    
for i in range(len(dataneg)):
    # Tokenize
    tweet = pd.DataFrame(data.text.apply(st))
    bvc = tweet.iloc[i]
    # to array
    arr = np.array(bvc)
    bvb = np.vstack(bvc)
    # word in dataframe
    dfx = pd.DataFrame(data=bvb.flatten())
    dfx['text'] = dfx
    dfc = pd.DataFrame(dfx['text'])
    dfc

    # count word in one doc
    v = dfc.text.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)
    vc = pd.DataFrame(v)
    vc.columns = ['value']

    # array for each value
    for b in vc['value']:
        TF = b / len(vc)
        hv = []
        hv.append(TF)
        fgh.append(hv)

    # assign TF value for word 
    value.append(fgh)
    value
    texts.append(bvc)
    texts
    
vcx = pd.DataFrame(texts)
vcx

                                                  text
0    [wah, .., pemindahan, ibu, kota, bisa, batal, ...
1    [Makin, terang, benderang, pindahna, ibu, kota...
2    [ga, perlu, ribuan, pasukan, ngelumpuhin, ibuk...
3    [wah, .., pemindahan, ibu, kota, bisa, batal, ...
4    [Makin, terang, benderang, pindahna, ibu, kota...
..                                                 ...
345  [#BatalkanPindahIbuKota, Rakyat, blm, sejahter...
346  [Kasian, anak, ini, hidup, dalam, kemelaratan,...
347  [Ocehanku, ,, Rencana, pemindahan, Ibukota, Ne...
348  [Yaa, kalo, pindah, ibukota, gapake, hutang, s...
349  [Tidak, semudah, dan, segampang, itu, memindah...

[350 rows x 1 columns]

In [451]:
tf = vcx.text.apply(pd.value_counts).fillna(0)
idf = np.log((len(vcx) + 1 ) / (tf.gt(0).sum() + 1))
tf * idf

,ibu,cyyynnnn,pemindahan,nih.yg,kota,...,¦,batal,banyak,udah,...,gausah,Yaa,ninggalin,maksimalin,ngurangin,toh,Tidak,dipergunakan,Mindakan,persiapan
0,1.056765,4.762174,2.249868,4.762174,0.948131,1.556721,1.989585,4.762174,2.364279,3.295837,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1.056765,0.000000,0.000000,0.000000,0.948131,1.556721,1.989585,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,1.556721,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1.056765,4.762174,2.249868,4.762174,0.948131,1.556721,1.989585,4.762174,2.364279,3.295837,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1.056765,0.000000,0.000000,0.000000,0.948131,1.556721,1.989585,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,0.000000,0.000000,0.000000,0.000000,0.000000,6.226885,0.000000,0.000000,2.364279,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
346,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.989585,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
347,0.000000,0.000000,2.249868,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
348,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.167639,5.167639,5.167639,5.167639,5.167639,5.167639,0.000000,0.000000,0.000000,0.000000
349,2.113530,0.000000,0.000000,0.000000,1.896263,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.167639,5.167639,5.167639,5.167639

In [452]:
cfneg = ((tf.gt(0).sum() + 1) / len(dataneg)) 
cfneg

ibu             0.348571
cyyynnnn        0.008571
pemindahan      0.105714
nih.yg          0.008571
kota            0.388571
                  ...
toh             0.005714
Tidak           0.005714
dipergunakan    0.005714
Mindakan        0.005714
persiapan       0.005714
Length: 2841, dtype: float64

In [453]:
tf * idf * cfneg

,ibu,cyyynnnn,pemindahan,nih.yg,kota,...,¦,batal,banyak,udah,...,gausah,Yaa,ninggalin,maksimalin,ngurangin,toh,Tidak,dipergunakan,Mindakan,persiapan
0,0.368358,0.040819,0.237843,0.040819,0.368417,0.329135,0.272857,0.040819,0.222918,0.122417,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.368358,0.000000,0.000000,0.000000,0.368417,0.329135,0.272857,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.329135,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.368358,0.040819,0.237843,0.040819,0.368417,0.329135,0.272857,0.040819,0.222918,0.122417,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.368358,0.000000,0.000000,0.000000,0.368417,0.329135,0.272857,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,0.000000,0.000000,0.000000,0.000000,0.000000,1.316541,0.000000,0.000000,0.222918,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
346,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.272857,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
347,0.000000,0.000000,0.237843,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
348,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.029529,0.029529,0.029529,0.029529,0.029529,0.029529,0.000000,0.000000,0.000000,0.000000
349,0.736716,0.000000,0.000000,0.000000,0.736833,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029529,0.029529,0.029529,0.029529

## CF Neutral

In [454]:
value = []
texts = []
fgh = []
    
for i in range(len(datanet)):
    # Tokenize
    tweet = pd.DataFrame(data.text.apply(st))
    bvc = tweet.iloc[i]
    # to array
    arr = np.array(bvc)
    bvb = np.vstack(bvc)
    # word in dataframe
    dfx = pd.DataFrame(data=bvb.flatten())
    dfx['text'] = dfx
    dfc = pd.DataFrame(dfx['text'])
    dfc

    # count word in one doc
    v = dfc.text.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)
    vc = pd.DataFrame(v)
    vc.columns = ['value']

    # array for each value
    for b in vc['value']:
        TF = b / len(vc)
        hv = []
        hv.append(TF)
        fgh.append(hv)

    # assign TF value for word 
    value.append(fgh)
    value
    texts.append(bvc)
    texts
    
vcx = pd.DataFrame(texts)
vcx

                                                  text
0    [wah, .., pemindahan, ibu, kota, bisa, batal, ...
1    [Makin, terang, benderang, pindahna, ibu, kota...
2    [ga, perlu, ribuan, pasukan, ngelumpuhin, ibuk...
3    [wah, .., pemindahan, ibu, kota, bisa, batal, ...
4    [Makin, terang, benderang, pindahna, ibu, kota...
..                                                 ...
345  [#BatalkanPindahIbuKota, Rakyat, blm, sejahter...
346  [Kasian, anak, ini, hidup, dalam, kemelaratan,...
347  [Ocehanku, ,, Rencana, pemindahan, Ibukota, Ne...
348  [Yaa, kalo, pindah, ibukota, gapake, hutang, s...
349  [Tidak, semudah, dan, segampang, itu, memindah...

[350 rows x 1 columns]

In [455]:
tf = vcx.text.apply(pd.value_counts).fillna(0)
idf = np.log((len(vcx) + 1 ) / (tf.gt(0).sum() + 1))
tf * idf

,ibu,cyyynnnn,pemindahan,nih.yg,kota,...,¦,batal,banyak,udah,...,gausah,Yaa,ninggalin,maksimalin,ngurangin,toh,Tidak,dipergunakan,Mindakan,persiapan
0,1.056765,4.762174,2.249868,4.762174,0.948131,1.556721,1.989585,4.762174,2.364279,3.295837,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1.056765,0.000000,0.000000,0.000000,0.948131,1.556721,1.989585,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,1.556721,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1.056765,4.762174,2.249868,4.762174,0.948131,1.556721,1.989585,4.762174,2.364279,3.295837,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1.056765,0.000000,0.000000,0.000000,0.948131,1.556721,1.989585,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,0.000000,0.000000,0.000000,0.000000,0.000000,6.226885,0.000000,0.000000,2.364279,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
346,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.989585,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
347,0.000000,0.000000,2.249868,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
348,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.167639,5.167639,5.167639,5.167639,5.167639,5.167639,0.000000,0.000000,0.000000,0.000000
349,2.113530,0.000000,0.000000,0.000000,1.896263,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.167639,5.167639,5.167639,5.167639

In [456]:
cfnet = ((tf.gt(0).sum() + 1) / len(datanet)) 
cfnet

ibu             0.348571
cyyynnnn        0.008571
pemindahan      0.105714
nih.yg          0.008571
kota            0.388571
                  ...
toh             0.005714
Tidak           0.005714
dipergunakan    0.005714
Mindakan        0.005714
persiapan       0.005714
Length: 2841, dtype: float64

In [457]:
tokens = tf * idf * cfnet
tokens

,ibu,cyyynnnn,pemindahan,nih.yg,kota,...,¦,batal,banyak,udah,...,gausah,Yaa,ninggalin,maksimalin,ngurangin,toh,Tidak,dipergunakan,Mindakan,persiapan
0,0.368358,0.040819,0.237843,0.040819,0.368417,0.329135,0.272857,0.040819,0.222918,0.122417,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.368358,0.000000,0.000000,0.000000,0.368417,0.329135,0.272857,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.329135,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.368358,0.040819,0.237843,0.040819,0.368417,0.329135,0.272857,0.040819,0.222918,0.122417,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.368358,0.000000,0.000000,0.000000,0.368417,0.329135,0.272857,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,0.000000,0.000000,0.000000,0.000000,0.000000,1.316541,0.000000,0.000000,0.222918,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
346,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.272857,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
347,0.000000,0.000000,0.237843,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
348,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.029529,0.029529,0.029529,0.029529,0.029529,0.029529,0.000000,0.000000,0.000000,0.000000
349,0.736716,0.000000,0.000000,0.000000,0.736833,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029529,0.029529,0.029529,0.029529

In [368]:
model =  Pipeline([('vectorizer',CountVectorizer()), ('tf_trans',cfnet)])

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [390]:
preprocess = make_column_transformer(
    (StandardScaler(),['SPchangeHigh']),
    ( OneHotEncoder(),['desc-title'])
)
preprocess.fit_transform(features.head(2))

NameError: name 'make_column_transformer' is not defined

In [458]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

tik = TfidfVectorizer(use_idf=True, lowercase=True, strip_accents='ascii', stop_words='stopwordlist.txt')
tic = CountVectorizer(min_df=1, max_df=5, stop_words='english')
tic

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=5, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [459]:
y = data.sentimen
x = data.text

In [472]:
#pembagian data
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.6)
X_train

708     Semoga nanti setelah menjadi ibukota negara, d...
995                           Yang penting ibukota pindah
657     Pemindahan ibukota harus dipikir dengan baik d...
810     Gw setuju aja dengan pindahnya ibukota, ASALKA...
209     Ibukota tak perlu pindah. \r\nYang harus pinda...
                              ...
913     Kalo baca rencana tata ruang wilayah pasti tau...
556     Daripada bangun ibukota baru kenapa tak bangun...
1027    Aku, adalah tim yanh setuju atas wacana pemind...
664     Pemindahan ibu kota, (+): ekonomi lebih merata...
794     Sangat mendesak untuk memindahkan ini kota.\r\...
Name: text, Length: 420, dtype: object

In [473]:
mnb = MultinomialNB()
y_train = y_train.astype('int')
Xv = tic.fit_transform(X_train)

mnb.fit(Xv, y_train)
x_testdf = tic.transform(X_test)

pred = mnb.predict(x_testdf)
actual = np.array(y_test)

print(pred)
print(actual)
accuracy_score(actual, pred)

[ 0  0  0  0 -1  0  1 -1 -1  0  1 -1 -1  0  1 -1  1  1  1 -1 -1  1 -1  1
  0 -1  1 -1 -1 -1  0 -1  0  1 -1  0  0  1  1  1 -1 -1 -1  1  1  0  0  0
 -1  1  0  0  1  1  1 -1  0  1  0 -1 -1  0 -1  0 -1 -1  1  1 -1 -1  1 -1
  1  0 -1  1 -1  1  1  1 -1 -1 -1  1 -1  1  1  0  0 -1 -1  0  0  0 -1 -1
  0  0 -1 -1  0 -1 -1  0  1  1 -1  0  0 -1  1  0 -1 -1  0 -1 -1  1  1  1
  1 -1 -1  1  0 -1 -1  1  0 -1  1  0  1  1  0  1 -1  0  1  0  1 -1 -1 -1
  0 -1  1  0  1  0  1 -1  0 -1 -1  1 -1  0 -1  0  1  0  1 -1  0  1 -1  0
  0 -1  0  1  1 -1 -1 -1 -1  0 -1  0 -1  1 -1  1 -1 -1  1  1  0 -1 -1 -1
  1  0 -1  1 -1 -1  1  1  1 -1  1  0 -1  0  0 -1  1 -1  1 -1 -1  0 -1 -1
  1  1 -1  0  0  1  1 -1  0 -1  1  1  0  1 -1 -1  1 -1  1 -1  1 -1 -1  0
  1 -1  0 -1  0  0  1 -1 -1  1 -1  1  1  1  1  0 -1  1  1  0  0 -1  0  1
 -1  1 -1 -1  0  1  0  0  0 -1 -1  0 -1  0 -1 -1  0  0  1 -1  0 -1  0 -1
  0 -1  0  1 -1 -1 -1  1 -1  1  1 -1 -1 -1  1 -1 -1 -1  1  1 -1 -1  0 -1
 -1 -1  0  1 -1  0  0  0  0  0  1 -1  0  1  1  0  1 -1  1 -1  1 -1  0 -1
 -1  0 -1  0 -1  1 -1  1  1 -1  1  0  1  1 -1 -1 -1  0  0  1  1  0  1  0
  0  1 -1 -1  1  1  1 -1  1  0  1 -1  0  0  0  1  1 -1  0  0 -1  1  1  1
  1  0  1  1  1 -1  1  0 -1 -1  1  1  1  1  0 -1  1  1  0  1 -1 -1  1  1
 -1 -1  1  0 -1  1  1  1 -1  0 -1  0 -1 -1  0  0  1  1 -1  1 -1  1 -1  1
 -1  0  1  1  0  1  1  1 -1 -1  1 -1  1  0 -1 -1 -1  1  1 -1  1  0 -1 -1
  0 -1  1  0  0  1 -1 -1  1 -1  1  0  0 -1 -1  1  0  0 -1 -1 -1  0 -1 -1
  1 -1 -1 -1  1 -1 -1 -1 -1  0  0 -1  0 -1 -1  1 -1 -1  1  1  0  1  0  0
  0  1 -1  1  1  0  0  0 -1  0  0 -1  1  0  0  1  0 -1 -1  0 -1  1 -1  1
 -1  0 -1  1 -1 -1 -1  1 -1  1  1 -1 -1  1 -1  0  1  0  1  0 -1  0  1  0
  0 -1 -1  0 -1 -1  1 -1 -1  0 -1  1  1  0  1  1  0  0 -1  1 -1 -1 -1 -1
  0 -1  1 -1  1  0  0  0  1 -1  1 -1  0 -1  1  1 -1 -1  1 -1 -1  1 -1 -1
 -1  0  0 -1  0  0  1 -1 -1  0  1  0  1 -1  0  1  1  1  1 -1  0  1  0  1
 -1 -1  1  0 -1 -1]
[-1 -1  0  1  0 -1  1  1 -1 -1  1  0 -1  0  0 -1  0  1 -1 -1  1 -1 -1  1
  0  1  0 -1 -1  0 -1 -1 -1  0  1  0 -1  1  0 -1 -1 -1  1  1  1  0 -1  1
 -1  1 -1  0 -1 -1  1  1  0 -1 -1 -1  1  1 -1  0  1 -1  0  1  0 -1  1  0
  0 -1 -1  1  0  0  1  0  1 -1  0  1 -1  1 -1  0  1  0  0  0  0  0 -1  1
  0  0 -1  1 -1 -1 -1  0  1  1  0  0  0 -1  0  1  0 -1  0 -1 -1  1  1  1
 -1  1  0  1  0  0  0  0  1  1  0 -1  0  0  1  0 -1  0  1  1  0  1 -1 -1
 -1  1  1  0  1  1  1  0  1 -1  1 -1  1  1 -1  0  1 -1  1  0 -1  1  0  0
  0 -1  0  1 -1  0 -1 -1 -1  0  0  0 -1  1  1  0 -1  0 -1 -1  1  0  0 -1
  1 -1 -1  1  1 -1  0  0 -1 -1 -1  0 -1  0 -1  0  1 -1  0  0  0  1  1 -1
  1  0  0 -1 -1  1  1  0 -1  1  0  1 -1  1 -1  0 -1 -1  1  0  1 -1 -1 -1
  1 -1  0 -1  0  0 -1  1  1  1 -1  1 -1  1  0  1  1  1  1  0  1 -1  0 -1
  1  1 -1  0  1 -1 -1  1  0 -1  0  1  0  0  0  0  1  0  0  0  0 -1  1 -1
  0 -1  1  1 -1  0 -1  1 -1  0 -1  0 -1  1  1  0  0  1  1  1 -1 -1  0  1
  0 -1 -1 -1  0 -1  0  0  0  0 -1  0  1  1  1 -1  1 -1 -1  0  1  0  1 -1
  1  1  1 -1 -1  0 -1  0  1  0  1  1 -1  1  0  1 -1 -1  1  0 -1  1  1  1
 -1  1 -1 -1 -1  0  0 -1  1  1  1  0  0 -1 -1 -1  1 -1  0 -1 -1  0  1 -1
  0  1  1  1  1 -1 -1  0 -1  0 -1  1 -1  1  0  1 -1  1 -1  1  0  1 -1  0
 -1 -1  1  0 -1  0  0  0 -1  0  0  0  0  0  0  1 -1  1  0  1 -1 -1  1  1
 -1  0  0  1  0  1  0  1  1 -1  0  1  0 -1 -1 -1  1  0  1  0 -1  0  1  0
 -1 -1  0  1 -1  1 -1 -1  0  0  1  0  0  0 -1 -1 -1  0  0  0  1  1  0  0
  1 -1  0  1  1  1  0  1  0  0  0  0  1  1  0  1  1 -1  1  0  0 -1  0 -1
  0  0  1 -1  1 -1  0  1  0  0  1 -1 -1  0 -1  1  1  0 -1 -1  1  1  0  0
  0  1  0  1 -1 -1  1  1  1  0  1  0  0  1  0 -1  1  1  0 -1  1  0  0 -1
  1  1 -1  0  1  0  1 -1  0  0 -1  1  0 -1  1  1  1  0  0  0  0  0  1 -1
 -1 -1  1 -1  1  1  0 -1  1  1  0  1  0 -1  1  1 -1  0 -1 -1 -1  0 -1  1
 -1 -1 -1  0  0  1  0  0 -1  0  0  0  1 -1 -1  0  1  1  0 -1  1  1  0  1
  1 -1  1 -1 -1 -1]

0.473015873015873

In [474]:
results = confusion_matrix(actual, pred)
print('Confusion Matrix:')
print(results)
print('Accurscy Score:', accuracy_score(actual,pred))
print('Report:')
print(classification_report(actual, pred))

Confusion Matrix:
[[113  52  41]
 [ 82  76  57]
 [ 56  44 109]]
Accurscy Score: 0.473015873015873
Report:
              precision    recall  f1-score   support

          -1       0.45      0.55      0.49       206
           0       0.44      0.35      0.39       215
           1       0.53      0.52      0.52       209

    accuracy                           0.47       630
   macro avg       0.47      0.47      0.47       630
weighted avg       0.47      0.47      0.47       630

In [367]:
print("fiturrrr:\n{}".format(tic.get_feature_names()))

fiturrrr:
['aja', 'akan', 'aku', 'alesan', 'allah', 'apa', 'apakah', 'atuh', 'bagian', 'bangun', 'baru', 'begitu', 'belum', 'berbagai', 'berdampak', 'berkurang', 'berpindahnya', 'biaya', 'bisa', 'buat', 'com', 'cukong²', 'dana', 'dari', 'dg', 'di', 'dia', 'dibilang', 'diperkirakan', 'disiapkan', 'ditekan', 'duaarah', 'dulu', 'ekonomi', 'fokus', 'ga', 'gausa', 'got', 'gt', 'hingga', 'ibu', 'ibukota', 'indonesia', 'infrastruktur', 'ini', 'itu', 'jadi', 'jakarta', 'jga', 'jika', 'jkt', 'jujur', 'jumlah', 'kalimantan', 'kalo', 'kan', 'karena', 'katanya', 'ke', 'kebijakan', 'kebutuhkan', 'kepadatan', 'kita', 'klo', 'kota', 'kriminalisasi', 'kumparangiveaway', 'lantas', 'lha', 'lo', 'maka', 'mampu', 'mau', 'membayangkanjakarta', 'membutuhkan', 'mending', 'meningkatkan', 'menurut', 'menutupi', 'menyedihkan', 'mindahin', 'mo', 'nethink', 'njenengan', 'nonton', 'pak', 'pake', 'pasrahkan', 'pembahasannya', 'pembangunan', 'pemindahan', 'pendanaan', 'penduduk', 'pengangguran', 'perbaikan', 'percaya', 'pertumbuhan', 'pindah', 'pindahin', 'pkl', 'point', 'pointnya', 'pun', 'pusat', 'rb', 'rencana', 'rupiah', 'saja', 'saya', 'sdm', 'sebagian', 'sedikit', 'sehingga', 'sfpr', 'siap', 'siapa', 'sih', 'skema', 'soal', 'soalnya', 'stagnan', 'sulit', 'tahun', 'tau', 'telah', 'teratasi', 'terlalu', 'tiap', 'tingkat', 'triliun', 'tsb', 'ttp', 'twitter', 'wibpic', 'yang', 'yasudah', 'yg']

idf

## asjgfasfgasfgas

In [94]:
#CF
for d in bvb:
    print(d)
# def tokenize2(text):
    
#     TT = TweetTokenizer()
#     hasil = TT.tokenize(text)
#     filtered = []
    
#     for w in hasil:
#         filtered.append(w)
        
#     return filtered

# st2 = lambda x: tokenize2(x)

['wah' '..' 'pemindahan' 'ibu' 'kota' 'bisa' 'batal' 'nih.yg' 'daftar'
 'udah' 'banyak' 'lhooo' '...' 'cyyynnnn'
 'https://twitter.com/CNNIndonesia/status/1161061126332747776Â' 'â' '€'
 '¦']

In [82]:
tweet2 = pd.DataFrame(tweet.text.apply(st2))
tweet2

AttributeError: 'list' object has no attribute 'apply'

In [9]:
files = []
for i in range(1, 4):
    file = open('data10_stemming.csv')
    files.append(file)

In [10]:
raw_token_set = []
for i in range(3):
    tokens = wordpunct_tokenize(files[i].read())
    raw_token_set.append(tokens)

In [13]:
processed_token_set = []
for i in range(3):
    processed_tokens = []
    for token in raw_token_set[i]:
        processed_tokens.append(token.lower())
    processed_token_set.append(processed_tokens)

In [14]:
terms = []
for i in range(3):
    terms.append(sorted(list(set(processed_token_set[i]))))

In [15]:
collection_terms = []
for i in range(3):
    collection_terms += terms[i]
collection_terms = sorted(list(set(collection_terms)))

In [16]:
raw_tf = []
weighted_tf = []
for i in range(3):
    raw_frequency = []
    weighted_frequency = []
    for term in collection_terms:
        raw_count = processed_token_set[i].count(term)
        if(raw_count != 0):
            weighted_count = 1 + log(raw_count, 10)
        else:
            weighted_count = 0
        raw_frequency.append(raw_count)
        weighted_frequency.append(weighted_count)
    raw_tf.append(raw_frequency)
    weighted_tf.append(weighted_frequency)

In [58]:
import math
from textblob import TextBlob as tb

def tf(word, blob):
    return blob.words.count(word) / len(blob.words)

def n_containing(word, bloblist):
    return sum(1 for blob in bloblist if word in blob)

def idf(word, bloblist):
    return math.log(len(bloblist) / (1 + n_containing(word, bloblist)))

def tfidf(word, blob, bloblist):
    return tf(word, blob) * idf(word, bloblist)

# document1 = tb("""Python is a 2000 made-for-TV horror movie directed by Richard
# Clabaugh. The film features several cult favorite actors, including William
# Zabka of The Karate Kid fame, Wil Wheaton, Casper Van Dien, Jenny McCarthy,
# Keith Coogan, Robert Englund (best known for his role as Freddy Krueger in the
# A Nightmare on Elm Street series of films), Dana Barron, David Bowe, and Sean
# Whalen. The film concerns a genetically engineered snake, a python, that
# escapes and unleashes itself on a small town. It includes the classic final
# girl scenario evident in films like Friday the 13th. It was filmed in Los Angeles,
#  California and Malibu, California. Python was followed by two sequels: Python
#  II (2002) and Boa vs. Python (2004), both also made-for-TV films.""")

document1 = tb(data)

document2 = tb("""Python, from the Greek word (πύθων/πύθωνας), is a genus of
nonvenomous pythons[2] found in Africa and Asia. Currently, 7 species are
recognised.[2] A member of this genus, P. reticulatus, is among the longest
snakes known.""")

document3 = tb("""The Colt Python is a .357 Magnum caliber revolver formerly
manufactured by Colt's Manufacturing Company of Hartford, Connecticut.
It is sometimes referred to as a "Combat Magnum".[1] It was first introduced
in 1955, the same year as Smith & Wesson's M29 .44 Magnum. The now discontinued
Colt Python targeted the premium revolver market segment. Some firearm
collectors and writers such as Jeff Cooper, Ian V. Hogg, Chuck Hawks, Leroy
Thompson, Renee Smeets and Martin Dougherty have described the Python as the
finest production revolver ever made.""")

bloblist = [document1, document2, document3]
for i, blob in enumerate(bloblist):
    print("Top words in document {}".format(i + 1))
    scores = {word: tfidf(word, blob, bloblist) for word in blob.words}
    sorted_words = sorted(scores.items(), key=lambda x: x[1], reverse=True)
    for word, score in sorted_words[:3]:
        print("Word: {}, TF-IDF: {}".format(word, round(score, 5)))

TypeError: The `text` argument passed to `__init__(text)` must be a string, not <class 'pandas.core.frame.DataFrame'>

In [57]:
import math
from textblob import TextBlob as tb
import os, glob
folder = "~/desktop/KULIAH/SKRIPSI ERICA YEY/data_ibukota/dataku"
os.chdir(folder)
files = glob.glob("~/desktop/KULIAH/SKRIPSI ERICA YEY/data_ibukota/dataku/positif350.csv") # Makes a list of all files in folder
bloblist = []
for file1 in files:
    with open (file, 'r') as f:
    #data = myfile.read().replace('\n', '')
    data = f.read() # Reads document content into a string
    document = tb(data.decode("utf-8")) # Makes TextBlob object
    bloblist.append(document)

def tf(word, blob):
    return blob.words.count(word) / len(blob.words)

def n_containing(word, bloblist):
    return sum(1 for blob in bloblist if word in blob)

def idf(word, bloblist):
    return math.log(len(bloblist) / (1 + n_containing(word, bloblist)))

def tfidf(word, blob, bloblist):
    return tf(word, blob) * idf(word, bloblist)

document1 = open('data10_stemming.csv')

bloblist = [document1, document2, document3]
for i, blob in enumerate(bloblist):
    print("Top words in document {}".format(i + 1))
    scores = {word: tfidf(word, blob, bloblist) for word in blob.words}
    sorted_words = sorted(scores.items(), key=lambda x: x[1], reverse=True)
    for word, score in sorted_words[:3]:
        print("Word: {}, TF-IDF: {}".format(word, round(score, 5)))

IndentationError: expected an indented block (<ipython-input-57-f8338a1d6860>, line 11)